<div class="page-header">	
  <h1>Github Inspect</h1>
  <p>
  	<%= image_tag @current_user.image_url, :width => 24 %>
	<%= link_to @current_user.display_name, "http://github.com/#{@current_user.nickname}" %>
  </p>
</div>
<div id="search_bar_holder" class="row">
	<%= form_tag("/query", :id => "search-form", :class => "form-inline", method: "post", :remote => true) do %>
		<div class="col-xs-12"> 
	
		  <%= text_field_tag(:q, nil, {:class => "query-input", :placeholder => "search"}) %>
		  <%= submit_tag("Search", :class => "btn btn-default query-button", :id => "search_button") %>
    	</div>
		<div class="col-xs-12">
		  <%= radio_button_tag :order, "desc", :value => 1 %>
		  <%= label_tag(:order_desc, "Most Stars") %>

		  <%= radio_button_tag :order, "asc" %>
		  <%= label_tag(:order_asc, "Least Stars") %>
		</div>
	<% end %>
</div>

<div id="loading_holder" class="row">
	
	<h3>Hacking...</h3>
</div>
<div id="results_holder" class="row">
	<div align="center">Enter a search term above to inspect Github</div>
</div>

<div id="more_results_trigger" class="row">
	
</div>


<script>
$( document ).ready(function() {
 $("#loading_holder").hide();
 
 $("#loading_holder").prepend('<img src="loading' + Math.floor(Math.random() * 7 + 1) + '.gif" />')

 $("#search_button").on('click', function (e){
	$("#results_holder").hide();
	$("#loading_holder").show();
 });
 
 $("#search-form").bind("ajax:success", function(event, data, status, xhr){
    $("#loading_holder").hide();
	$("#results_holder").html(data);
	$("#results_holder").show();
 });
 
 $(".item_clone_url_text").focus(function() {
	this.select();
 });


});

</script>

